{% extends "index.html" %}
{% block aboutme %}

    <table>
        <thead>
            <th style="width: 10%"></th>
            <th style="width: 30%">
                <p style="text-align:justify;padding:10px;font-size: 16px">
                    As a highly motivated B.Tech student, I am committed to acquiring the skills and knowledge required to excel in today's competitive job market. I am eager to make a meaningful contribution to your organization by utilizing my knowledge, hard work, and dedication.

                </p>
            </th>

            <th style="width: 20%"></th>
            <th>
                        <div class="card">
                             <img src="../static/me.png" alt="Tejus Raghavendra" style="width:100%">
                                <h1>Tejus</h1>
                                <h2>Raghavendra</h2>
                                <p class="title">Wanabe Software Dev</p>
                                <a class="college" href="https://www.silveroakuni.ac.in/" style="text-decoration: none">Silver Oak University</a>
                                <div style="margin: 24px 0;">
                                        <a href="https://www.linkedin.com/in/tejus-raghavendra/"><img style="width:100px "src="../static/inlogo.png"></a>
                                </div>
                                <p><a id="con" href="/contact">Contact</a></p>
                        </div>
            </th>
        </thead>
    </table>

{% endblock %}