{% extends "index.html" %}
{% block contact %}
<table class="table">
  <thead>
    <tr>
      <th scope="row" colspan="2">Contact me</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Number:</th>
      <td>9510664524</td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td>tejusraghavendra09@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td>tejus2003@outlook.com</td>
    </tr>
    <tr>
      <th scope="row">Linkedin</th>
      <td><a href="https://www.linkedin.com/in/tejus-raghavendra/">https://www.linkedin.com/in/tejus-raghavendra/</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}